body {
	background: radial-gradient(
		circle at 18.7% 37.8%,
		rgb(250, 250, 250) 0%,
		rgb(225, 234, 238) 90%
	);
	font-family: "Roboto", sans-serif;
	color: rgb(76, 76, 76);
}

h1 {
	display: inline;
	position: relative;
	font-size: 4.5rem;
	top: 23px;
	left: 10px;
}

span em {
	font-size: 18px;
	font-weight: 300;
}

.container1,
.container2,
.card {
	margin: 0 auto;
	border: none;
	max-width: 800px;
}

.container2,
.form {
	padding: 20px;
}

.container1,
.container2 {
	margin-top: 36px;
}

.active {
	color: rgb(76, 76, 76);
	cursor: default;
}

.active:hover {
	color: rgb(76, 76, 76);
	text-decoration: none;
}

.list-group .list-group-horizontal .list-group-item {
	word-wrap: normal;
	contain: content;
}

.city-heading {
	font-size: 38px;
	font-weight: 300;
	padding-left: 20px;
	padding-top: 10px;
	margin-bottom: 0;
}

.heading-list {
	text-align: right;
	position: relative;
	right: 10px;
	top: 15px;
	list-style: none;
	line-height: 1.5rem;
	font-size: 1.25rem;
	font-weight: 300;
}

.forecast-icon {
	max-width: 58px;
	padding-top: 10px;
	padding-bottom: 8px;
}

.forecast {
	text-align: center;
	padding: 18px;
}

.high-low {
	font-size: 18px;
}

.day {
	margin-top: -8px;
}

.repository {
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	padding: 15px;
}

.repository a {
	text-decoration: none;
}

#location-button {
	background: none;
	border: 1px solid #075fd6;
	max-width: fit-content;
	transition: all 175ms ease-in-out;
}

#location-button:hover {
	background: #4c4c4c;
	color: #fff;
}

#city-and-temp-display {
	position: relative;
	left: 20px;
	top: -13px;
}

#display-icon {
	background: linear-gradient(
		180.3deg,
		rgb(221, 221, 221) 5.5%,
		rgb(110, 136, 161) 90.2%
	);
	border: 1px solid
		linear-gradient(
			180.3deg,
			rgb(221, 221, 221) 5.5%,
			rgb(110, 136, 161) 90.2%
		);
	border-radius: 60px;
	position: relative;
	width: 76px;
	right: -2px;
	top: -3px;
}

#fahrenheit-link,
#celsius-link {
	position: relative;
	top: -15px;
	left: 7px;
	font-size: 1.25rem;
	text-decoration: none;
	padding: 1px;
}
